{% extends "layouts/app.twig" %}
{% block title %}Home{% endblock %}
{% block main %}
<main class="pt-3">
    <div class="container">
        {% if count(posts) > 0 %}
        <div class="row">
            {% for item in posts %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid">
                        <h3>{{ item.title }}</h3>
                        <h6>By {{ item.author.full_name }}</h6>
                        <a href="{{ route('blog.show', item.id) }}">Read Article...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No posts found...!
        </div>    
        {% endif %}
    </div>
</main>
{% endblock %}